<div class="flex flex-col min-h-screen">
  <!-- Your main content goes here -->

  <!-- Footer section -->
  <footer class="bg-white  shadow mt-auto dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-[#00b4ff] sm:text-center dark:text-[#00b4ff]">© 2023 <a href="https://flowbite.com/"
          class="hover:underline">Flowbite™</a>. All Rights Reserved.</span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-[#00b4ff] dark:text-[#00b4ff] sm:mt-0">
        <li><a href="#" class="hover:underline me-4 md:me-6">About</a></li>
        <li><a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a></li>
        <li><a routerLink="/uploads" class="hover:underline me-4 md:me-6">Uploads</a></li>
        <li><a routerLink="/contact" class="hover:underline">Contact</a></li>
      </ul>
    </div>
  </footer>
</div>