<div class="carousel-container h-screen w-screen overflow-hidden relative">
    <div class="carousel-inner flex transition-transform duration-700 ease-in-out">
        <div class="carousel-item h-screen w-screen flex-shrink-0 relative">
            <img src="./assets/icons/b1.jpg" alt="Slide Image" class="w-full h-full object-cover">
            <div
                class="overlay absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-start px-[2rem]">
                <div class="slide-content text-white text-[1rem] mb-4 font-light w-full flex ">
                    <div class="w-full flex flex-col">
                        <span class="font-medium"> Welcome to BrainScanAI </span>
                        <span>Your Health, Our Priority. </span>
                        <div class="w-full flex flex-col">
                            <span class="font-medium mt-[2rem]">Revolutionizing Brain Tumor Detection</span>
                            <span class="w-[40%] tumor-content-4"> Utilize advanced AI technology for quick, accurate analysis of MRI scans. Upload your
                                scan today to
                                receive precise results and take the first step towards better health.
                            </span>
                        </div>
                    </div>
                </div>
                <button routerLink="/uploads"
                    class="mt-[1rem] center-button bg-[#00b4ff] text-white py-2 px-[2rem] rounded hover:bg-[#009cdc] duration-700">Upload
                    MRI</button>
            </div>
        </div>
    </div>
</div>