/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');


    
html, body { height: 100%; }
body { 
    height: 100%;
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
    

} 
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#009cdc, #00b4ff)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}