
@media (max-width: 600px) {
    .main-div {
        flex-direction: column;
        align-items: center;
    }

    .image-placeholder, .image-preview {
        width: 95%;
        gap: 1rem;
    }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
    background-color: white !important;
    border-radius: 26px !important;
}