<app-header></app-header>
<app-slider></app-slider>
<div class='w-full flex flex-col justify-center items-center mt-[1.5rem]'>
    <span class="font-semibold text-[#00b4ff] text-[2rem]">Brain Tumor Classification Detection</span>
    <span class="w-[80%] text-justify text-[#00b4ff] text-[1rem]">
        Welcome to our Brain Tumor Classification Detection System. Our platform utilizes advanced machine learning
        algorithms to accurately detect and classify three types of brain tumors—glioma, meningioma, and pituitary
        tumors—from MRI scans.
    </span>
    <span class="w-[80%] text-justify text-[#00b4ff]">
        Early and accurate detection of brain tumors is critical for effective treatment and improved patient outcomes.
        Our system harnesses the power of artificial intelligence to provide rapid, reliable, and precise tumor
        identification, giving healthcare professionals the crucial information they need to make informed decisions.
        Whether you are a patient seeking peace of mind or a medical practitioner looking for a cutting-edge diagnostic
        tool, our system is designed to deliver the highest level of accuracy and ease of use.
        Experience the future of medical diagnostics today with our Brain Tumor Classification Detection System. Your
        health and well-being are our top priorities, and we are dedicated to providing the tools you need for early
        detection and effective treatment.
    </span>

</div>
<div class="w-full flex justify-center gap-3 main-div mt-5">
    <div class="flex items-center justify-center w-[45%] image-placeholder">
        <label for="dropzone-file"
            class="flex flex-col items-center justify-center w-full h-64 border-2 border-[#00b4ff] border-dashed rounded-lg cursor-pointer bg-[#00b4ff33] dark:hover:bg-[#00b4ff61] dark:bg-[#00b4ff61] hover:bg-[#00b4ff61]">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-[#00b4ff]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                </svg>
                <p class="mb-2 text-sm text-[#00b4ff]"><span class="font-semibold">Click to upload</span> or drag and
                    drop</p>
                <p class="text-xs text-[#00b4ff]">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" (change)="previewImage($event); uploadImage($event)"
                accept="image/*" />
        </label>
    </div>
    <div class="flex items-center justify-center w-[45%] image-placeholder">
        <label
            class="flex flex-col items-center justify-center w-full h-64 border-2 border-[#00b4ff] border-dashed rounded-lg bg-[#00b4ff33] dark:bg-[#00b4ff61]">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <p class="mb-2 text-sm text-[#00b4ff]"><span class="font-semibold">MRI Scan Results:</span> {{
                    predictionResult }}</p>
                <p class="text-xs text-[#00b4ff]" *ngIf="tumorDescriptions[predictionResult]">{{
                    tumorDescriptions[predictionResult] }}</p>

            </div>
        </label>
    </div>
</div>
<div class="w-full flex justify-center">
    <div class="flex items-center justify-center w-[45%] image-preview" *ngIf="previewImageUrl">
        <div
            class="w-full flex flex-col justify-center items-center mt-4 border-2 border-[#00b4ff] border-dashed rounded-lg bg-[#00b4ff33] dark:bg-[#00b4ff61]">
            <div class="flex justify-end w-full">
                <button mat-icon-button class="close-icon text-[#00b4ff] px-3" (click)="clearPreview()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="flex items-center justify-center w-[45%]">
                <img [src]="previewImageUrl" class="w-[100%] object-cover" alt="Uploaded Image" />
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>