
@media (max-width: 600px) {
    .main-div {
        flex-direction: column;
        align-items: center;
    }

    .image-placeholder, .image-preview {
        width: 95%;
        gap: 1rem;
    }
}

